<mat-toolbar>
    <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="secciones">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #secciones="matMenu">
      <button mat-menu-item routerLink="/inicio">Inicio</button>
      <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button>
    </mat-menu>

    <span>My App</span>
    <button id="menuInicio" mat-button routerLink="/inicio">Inicio</button>

    <!-- Menu desplegable: SECCIÓN DE PRODUCTOS -->
    <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">Productos</button>
    <mat-menu #producto="matMenu">
        <button mat-menu-item routerLink="/producto">General</button>
        <button mat-menu-item routerLink="/indumentaria">Indumentaria</button>
        <button mat-menu-item routerLink="/alimentacion">Alimentación</button>
        <button mat-menu-item routerLink="/juguetes">Juguetes</button>
    </mat-menu>

    <span class="example-spacer"></span>

    <!-- Manejo del inicio (registro e inicio de sesión) y del cerrar sesión -->
    <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item (click)="iniciar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
        <button mat-menu-item (click)="iniciar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar sesión</button>
        <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesión</button>
    </mat-menu>

    <!--BOTON OFFCANVAS CARRITO DE COMPRA-->

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCarrito" aria-controls="offcanvasCarrito">
      Carrito ({{ productosEnCarrito.length }})
    </button>
    

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCarrito" aria-labelledby="offcanvasCarritoLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCarritoLabel">Carrito de Compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-group">
          <li *ngFor="let producto of productosEnCarrito" class="list-group-item">
            {{ producto.nombre }} - ${{ producto.precio }}
          </li>
        </ul>
      </div>
    </div>

     <!--Label Para Modo Oscuro-->
     <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
     <input type="checkbox" id="toggle" (click)="cambiarFondo()">
</mat-toolbar>
  